---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="关于博主的介绍"
	pubDate={new Date('2026-01-28')}
>
	<p>我会在这里放一个不同的自己。</p>
	<p>我常喜爱做的事情：</p>
	<ol>
		<li>看自然 / 风景 - 不太喜欢人造的景观，喜爱有阳光的下午三四点直到夜晚的这段时间。</li>
		<li>读书</li>
		<li>摄影</li>
		<li>音乐 - 听的很杂，听的最多的是美波的《声嘶力竭》</li>
		<li>电吉他</li>
		<li>写点东西，技术的、读后感、或者随笔、其他类型，往外输出东西的感觉很好。</li>
		<li>游戏 - 等地平线6，玩明日方舟与CS。</li>
		<li>电影</li>
		<li>也喜欢写字，买了钢笔，但我的字很丑。</li>
		<li>有时抽象 - 咕咕嘎嘎。</li>
	</ol>
	<p>你可以通过 qingccl#qq.com (#替换为@) 联系我。</p>
	<hr>
	<br>
	<p>最近看的电影：</p>
	<ol>
		<li>特工 韩国电影 黄政民主演</li>
		<li>鬼子来了</li>
	</ol>
</Layout>
