---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="友链"
        description="友情链接"
        pubDate={new Date('2026-01-28')}
>
    <p>欢迎大家交换友链！</p>
    <blockquote>
        <p>名字：QingCCL</p>
        <p>网站：<a href="https://qingccl.github.io">https://qingccl.github.io</a></p>
        <p>备注：另一个自我。</p>
    </blockquote>


</Layout>
